.campo-obrigatorio {
    color: #f33
}
.nao-preenchido {
    box-shadow: 0 0 4px rgb(255,0,0,0.9999999999);
}
.red{
    font-size: 10px;
    color: #f00;
}
.box {
    border: 0.5px solid #bfbfbf;
    border-radius: 10px;
    padding: 3px;
    margin: 4px;
    box-shadow: 0.2em 0.2em 0.5em #ddd;
}